{% extends 'template.html' %}
{% load static %}
{% block title %}Tableau de bord{% endblock %}
{% block carrousel %}{% endblock%}
{% block styles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="filter row">
        <div class="col-sd-5 product-selection selection">
            <form id="product-selection-form">
                {{ product_selection_form }}
            </form>
        </div>
        <div class="col-sd-5 product-selection selection">
            <form id="product-selection-form" onsubmit="return false;">
                <label for="year-input">Year:</label>
                <input type="number" id="year-input" name="year" required>
            </form>
        </div>
        <div class="col-sd-5 scenarion-selection selection ">
            <form id="scenario-selection-form">
                {{ scenario_form }}
            </form>
        </div>
    </div>
        <div class="add_data">
            <form class="row add-form " id="product-details-form">
                <div class="col-md-3 datainput" id="add_product_product_name">
                    <input type="text" id="product-name" name="product_name" required>
                    <span class="highlight"></span><span class="bar"></span>
                    <label for="product-name">Product Name </label>
                </div>
                <div class="col-md-3 datainput" id="add_product_qte_unitaire">
                    <input type="number" id="qte-unitaire" name="qte_unitaire" required>
                    <span class="highlight"></span><span class="bar"></span>
                    <label for="qte-unitaire">Unit Quantity</label>
                </div>
                <div class="col-md-3 datainput" id="add_product_unit_cost">
                    <input type="number" id="unit-cost" name="unit_cost" required>
                    <span class="highlight"></span><span class="bar"></span>
                    <label for="unit-cost">Unit Cost</label>
                </div>
                <div class="col-md-3 datainput" id="add_product_fixed_command_cost">
                    <input type="number" id="fixed-command-cost" name="fixed_command_cost" required>
                    <span class="highlight"></span><span class="bar"></span>
                    <label for="fixed-command-cost">Fixed Command Cost</label>
                </div>
                <div class="col-md-3 datainput" id="add_product_holding_rate">
                    <input type="number" id="holding-rate" step="any" name="holding_rate" required>
                    <span class="highlight"></span><span class="bar"></span>
                    <label for="holding-rate">Holding Rate</label>
                </div>
                <div class="col-md-3 datainput" id="add_product_service_level">
                    <input type="number" id="service-level" name="service_level" required>
                    <span class="highlight"></span><span class="bar"></span>
                    <label for="service-level">Service Level</label>
                </div>
                <button onclick="submit_update()" class="col-md-3 custom-btn add-button" type="submit" value="Update">Update</button>
            </form>
        </div>
    <div class="dashboard" id="dashboard-container">
        <h2>Etat de votre inventaire</h2>
        <div class="row">
            <div class="col-md-6 dachboard-chart">
                <canvas width="95%" id="chart2"></canvas>
            </div>
            <div class="col-md-6 dachboard-chart">
                <canvas width="95%" id="chart1"></canvas>
            </div>
            <div class="col-md-6 dachboard-chart">
                <canvas width="95%" id="chart3"></canvas>
            </div>
            <div class="col-md-6 dachboard-chart">
                <table>
                    <tbody id="table-body">
                        <tr>
                            <th>Produit</th>
                            <th><span id="product-display"></span></th>
                        </tr>
                        <tr>
                            <th>Periode</th>
                            <th><span id="period-display"></span></th>
                        </tr>
                        <tr>
                            <th>Quantite economique</th>
                            <th><span id="economic-quantity-display"></span></th>
                        </tr>
                        <tr>
                            <th>Cout de commande</th>
                            <th><span id="command-cost-display"></span></th>
                        </tr>
                        <tr>
                            <th>Cout de possession</th>
                            <th><span id="holding-cost-display"></span></th>
                        </tr>
                        <tr>
                            <th>Cout d'achat</th>
                            <th><span id="purchase-cost-display"></span></th>
                        </tr>
                        <tr>
                            <th>Cout total</th>
                            <th><span id="total-cost-display"></span></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
<script>
    
function submit_update() {
    var product_name = document.getElementById("product-name").value;
    var qte_unitaire = document.getElementById("qte-unitaire").value;
    var unit_cost = document.getElementById("unit-cost").value;
    var fixed_command_cost = document.getElementById("fixed-command-cost").value;
    var holding_rate = document.getElementById("holding-rate").value;
    var service_level = document.getElementById("service-level").value;
  
    var data = {
        'product_name': product_name,
        'qte_unitaire': qte_unitaire,
        'unit_cost': unit_cost,
        'fixed_command_cost': fixed_command_cost,
        'holding_rate': holding_rate,
        'service_level': service_level
    };
  
    fetch('/update_product/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
    }).then(response => {
        if (response.ok) {
            alert('Product updated successfully');
        } else {
            alert('Error updating product');
        }
    });
  };
  
</script>
{% endblock %}