{% extends 'template.html' %}
{% load static %}
{% block title %}Gestion des données{% endblock %}
{% block carrousel %}{% endblock%}
{% block content %}
<div class="container">
    <h2>Add Product</h2>
    <h3>from an excel or csv file</h3>
    <div class="file-upload">
        <div class="file-select">
            <form method="POST" action="{% url 'upload_product' %}" enctype="multipart/form-data">
                <div class="file-select-button" id="fileName">Choose File</div>
                <div class="file-select-name" id="noFile">No file chosen...</div>
                {% csrf_token %}
                {% for field in file_upload_form %} 
                {{ field }}
                {% endfor %}
                <button class="file-select-button" type="submit">Upload</button>
            </form>
        </div>
    </div>
    <div class="table_display">
        {% if table %}
            {{ table|safe }}
        {% endif %}
    </div>
    <h3>manually</h3>
    <div class="add_data">
        <form class="row add-form" method="POST" action="{% url 'add_product' %}">
            {% csrf_token %}
            <div class="col-md-4 datainput" id="add_product_product_name">
                {{ form_product.product_name }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_product.product_name.label_tag }} 
            </div>
            <div class="col-md-4 datainput">
                {{ form_product.qte_unitaire }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_product.qte_unitaire.label_tag }} 
            </div>
            <div class="col-md-4 datainput">
                {{ form_product.unit_cost }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_product.unit_cost.label_tag }}
            </div>
            <div class="col-md-3 datainput">
                {{ form_product.fixed_command_cost }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_product.fixed_command_cost.label_tag }} 
            </div>
            <div class="col-md-3 datainput">
                {{ form_product.holding_rate }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_product.holding_rate.label_tag }} 
            </div>
            <div class="col-md-3 datainput">
                {{ form_product.service_level }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_product.service_level.label_tag }}
            </div>
            <button class="col-md-3 custom-btn add-button" type="submit">Add Product</button>
        </form>
    </div>
    <div class="table_display">
        <table>
            <tr>
                <th>Product Name</th>
                <th>Quantité unitaire</th>
                <th>Coût unitaire</th>
                <th>Coût fixe de commande</th>
                <th>Taux de possession</th>
                <th>Niveau de service</th>

            </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.qte_unitaire }}</td>
                    <td>{{ product.unit_cost }}</td>
                    <td>{{ product.fixed_command_cost }}</td>
                    <td>{{ product.holding_rate}}</td>
                    <td>{{ product.service_level }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No products available.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <h2>Add Sales</h2>
    <div class="add_data">
        <form class="row add-form" method="POST" action="{% url 'add_sale' %}">
            {% csrf_token %}
            {% for field in form_sale %}
                <div class="col-md-3 datainput">
                    {{ field }}
                    <span class="highlight"></span><span class="bar"></span>
                    {{ field.label_tag }} 
                </div>
            {% endfor %}
            <button class="col-md-3 custom-btn add-button" type="submit">Add Sale</button>
        </form>
    </div>
    <div class="table_display">
        <table>
            <tr>
                <th>Date</th>
                <th>Produit</th>
                <th>Quantité</th>

            </tr>
            {% for sale in sales %}
                <tr>
                    <td>{{ sale.date }}</td>
                    <td>{{ sale.ref }}</td>
                    <td>{{ sale.quantity }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No products available.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
{% block scripts %}
<script>
    $('#id_file').bind('change', function () {
        var filename = $("#id_file").val();
        if (/^\s*$/.test(filename)) {
        $(".file-upload").removeClass('active');
        $("#noFile").text("No file chosen..."); 
        }
        else {
        $(".file-upload").addClass('active');
        $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
        }
    });
</script>

{% endblock %}
