{% extends 'template.html' %}
{% load static %}
{% block title %}Accueil{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block carrousel %}
{% endblock %}
{% block content %}
<div class="container">
  <section id="principal">
    <img src="{% static 'img/logo.png' %}" alt="Stock bien organisé">
    <p>Optimisez votre gestion de stock avec notre solution tout-en-un.</p>
    <a href="login" class="cta-button">Commencer la Gestion des Stocks</a>
  </section>

  <!-- Pourquoi Choisir Notre Solution -->
  <section id="reason-why">
    <h2>Pourquoi Choisir Notre Solution</h2>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'img/home/avantage1.jpg'%}" alt="Avantage 1">
        <p>Optimisation des processus de gestion</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/home/avantage2.webp'%}" alt="Avantage 2">
        <p>Réduction des coûts opérationnels</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/home/avantage3.jpeg'%}" alt="Avantage 3">
        <p>Gestion efficace des commandes</p>
      </div>
  </section>

  <!-- Fonctionnalités Clés -->
  <section id="functionality">
    <h2>Fonctionnalités Clés</h2>
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'img/home/data.png'%}" alt="Gestion des Produits">
        <p>Gestion facile des produits</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'img/home/choose_scenario.png'%}" alt="Alertes Automatisées">
        <p>Alertes automatisées de niveaux de stock</p>
      </div>
      <div class="col-md-4">
          <img src="{% static 'img/home/transform_data.png'%}" alt="Gestion des Commandes">
          <p>Gestion simplifiée des commandes</p>
      </div>
    </div>
  </section>

  <!-- Témoignages -->
  <section id="testimony">
    <h2>Témoignages</h2>
    <p>Découvrez ce que nos clients disent de notre solution.</p>
    <section class="slider_section long_section">
      <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner temoignages-item">
          <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'img/logos/technohub.jpg' %}" alt="Témoignage 1">
                        <h3>TechnoHub Distribution</h3>
                        <p>Grâce au StockMng, notre entreprise a considérablement amélioré son efficacité opérationnelle. La traçabilité des produits et la gestion en temps réel des niveaux de stock nous ont permis d'optimiser nos processus logistiques, réduisant ainsi les coûts et améliorant la satisfaction de nos clients.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'img/logos/artisan.jpg' %}" alt="Témoignage 2">
                        <h3>ArtisanFurni Solutions</h3>
                        <p>StockMng a révolutionné la manière dont nous gérons nos matières premières. Nous pouvons maintenant anticiper les besoins en matériaux, minimiser les ruptures de stock et garantir une production fluide. Cela a considérablement renforcé notre compétitivité sur le marché.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'img/logos/style.jpg' %}" alt="Témoignage 3">
                        <h3>StyleMart Retailers</h3>
                        <p>L'intégration du StockMng dans notre travail a simplifié nos opérations quotidiennes. Suivre le mouvement des articles en temps réel, gérer les variations de la demande et optimiser les réapprovisionnements sont devenus des processus rapides et efficaces. Cela nous a aidés à maintenir des niveaux de stock appropriés tout en répondant aux attentes de nos clients.</p>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'img/logos/gourmet.jpg' %}" alt="Témoignage 1">
                        <h3>GourmetCraft Provision</h3>
                        <p>StockMng a été un atout crucial pour notre startup. La possibilité de suivre la rotation des stocks, de gérer les dates d'expiration et de minimiser les pertes nous a permis de maintenir une production constante et de garantir la qualité de nos produits, renforçant ainsi la confiance de nos clients.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'img/logos/office.jpg' %}" alt="Témoignage 2">
                        <h3>OfficeStream Essentials</h3>
                        <p>StockMng a grandement simplifié notre chaîne d'approvisionnement. La fonctionnalité de gestion des commandes et des niveaux de stock nous a permis de rationaliser nos opérations, d'éliminer les erreurs humaines et d'améliorer la précision des prévisions. Cela a eu un impact positif sur notre rentabilité et la satisfaction de nos clients.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'img/logos/beauty.jpg' %}" alt="Témoignage 3">
                        <h3>NatureGlow Beauty Co.</h3>
                        <p>Grâce à Stockng, nous avons pu maintenir une production régulière de nos produits cosmétiques biologiques. Cela a non seulement optimisé nos opérations, mais aussi renforcé notre engagement envers la qualité et la satisfaction de nos clients. Une gestion efficace des stocks est devenue un pilier essentiel de notre succès continu.</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel" data-slide-to="1"></li>
        </ol>
      </div>
    </section>
  </section>

  <!-- Appel à l'Action Principal -->
  <section id="login_recommandation">
    <a href="login" class="cta-button">Commencer la Gestion des Stocks</a>
  </section>

  <!-- Dernières Mises à Jour -->
  <section id="latest-update">
    <h2>Dernières Mises à Jour</h2>
    <p>Explorez nos dernières fonctionnalités pour une gestion de stock encore plus efficace.</p>
    <a href="about">Découvrir les Nouvelles Fonctionnalités</a>
  </section>

  <!-- Contact et Support -->
  <section id="contact-support">
    <h2>Contactez-nous</h2>
    <p>Besoin d'aide? Contactez notre support client.</p>
    <a href="mailto:support@votresociete.com">support@votresociete.com</a>
  </section>
</div>

{% endblock %}

{% block footer %}
{% endblock %}